Repository cofocofo/cofocofo, pull requests merged in 2021-10, with the labels that each got.

#25 2021/10/02 Codeforces Round #731 (Div. 3) --- 김홍균
  weekly_codeforces/M10/D2 - Codeforces Round #731 (Div. 3)/A - Shortest Path with Obstacle/A_김홍균.cpp
  weekly_codeforces/M10/D2 - Codeforces Round #731 (Div. 3)/B - Alphabetical Strings/B_김홍균.cpp
  weekly_codeforces/M10/D2 - Codeforces Round #731 (Div. 3)/C - Pair Programming/C_김홍균.cpp
  weekly_codeforces/M10/D2 - Codeforces Round #731 (Div. 3)/D - Co-growing Sequence/D_김홍균.cpp
  weekly_codeforces/M10/D2 - Codeforces Round #731 (Div. 3)/E - Air Conditioners/E_김홍균.cpp
Labels: #731

#24 2021/10/02 Codeforces Round #731 (Div. 3) --- 김민수
  weekly_codeforces/M10/D2 - Codeforces Round #731 (Div. 3)/A - Shortest Path with Obstacle/A_김민수.java
  weekly_codeforces/M10/D2 - Codeforces Round #731 (Div. 3)/B - Alphabetical Strings/B_김민수.java
  weekly_codeforces/M10/D2 - Codeforces Round #731 (Div. 3)/C - Pair Programming/C_김민수.java
Labels: #731

#27 2021/09/28 Codeforces Round #744 (Div. 3) --- 김홍균
  weekly_codeforces/M9/D28 - Codeforces Round #744 (Div. 3)/A - Casimir's String Solitaire/A_김홍균.cpp
  weekly_codeforces/M9/D28 - Codeforces Round #744 (Div. 3)/B - Shifting Sort/B_김홍균.cpp
  weekly_codeforces/M9/D28 - Codeforces Round #744 (Div. 3)/C - Ticks/C_김홍균.cpp
  weekly_codeforces/M9/D28 - Codeforces Round #744 (Div. 3)/D - Productive Meeting/D_김홍균.cpp
  weekly_codeforces/M9/D28 - Codeforces Round #744 (Div. 3)/E1 - Permutation Minimization by Deque/E1_김홍균.cpp
Labels: #744

#33 2021/10/11 Codeforces Round #725 (Div. 3) --- 우지현
  weekly_codeforces/M10/D11 - Codeforces Round #725 (Div. 3)/A - Stone Game/A_우지현.cpp
  weekly_codeforces/M10/D11 - Codeforces Round #725 (Div. 3)/B - Friends and Candies/B_우지현.cpp
  weekly_codeforces/M10/D11 - Codeforces Round #725 (Div. 3)/C - Number of Pairs/C_우지현.cpp
  weekly_codeforces/M10/D11 - Codeforces Round #725 (Div. 3)/D - Another Problem About Dividing Numbers/D_우지현.cpp
  weekly_codeforces/M10/D11 - Codeforces Round #725 (Div. 3)/E - Funny Substrings/E_우지현.cpp
  weekly_codeforces/M10/D11 - Codeforces Round #725 (Div. 3)/F - Interesting Function/F_우지현.cpp
Labels: #725

#35 2021/10/12 Codeforces Round #725 (Div. 3) --- 이민동
  weekly_codeforces/M10/D11 - Codeforces Round #725 (Div. 3)/A - Stone Game/A_이민동.java
  weekly_codeforces/M10/D11 - Codeforces Round #725 (Div. 3)/B - Friends and Candies/B_이민동.java
  weekly_codeforces/M10/D11 - Codeforces Round #725 (Div. 3)/C - Number of Pairs/C_이민동.java
  weekly_codeforces/M10/D11 - Codeforces Round #725 (Div. 3)/F - Interesting Function/F_이민동.java
Labels: #725
