Repository cofocofo/cofocofo, pull requests merged in 2021-11, with the labels that each got.

#46 2021/10/30 Codeforces Round #710 (Div. 3) --- 김홍균
  weekly_codeforces/M10/D30 - Codeforces Round #710 (Div. 3)/A - Strange Table/A_김홍균.cpp
  weekly_codeforces/M10/D30 - Codeforces Round #710 (Div. 3)/B - Partial Replacement/B_김홍균.cpp
  weekly_codeforces/M10/D30 - Codeforces Round #710 (Div. 3)/C - Double-ended Strings/C_김홍균.cpp
  weekly_codeforces/M10/D30 - Codeforces Round #710 (Div. 3)/D - Epic Transformation/D_김홍균.cpp
  weekly_codeforces/M10/D30 - Codeforces Round #710 (Div. 3)/E - Restoring the Permutation/E_김홍균.cpp
Labels: #710

#47 2021/10/30 Codeforces Round #710 (Div. 3) --- 김주환
  weekly_codeforces/M10/D30 - Codeforces Round #710 (Div. 3)/A - Strange Table/A_김주환.java
  weekly_codeforces/M10/D30 - Codeforces Round #710 (Div. 3)/C - Double-ended Strings/C_김주환.java
Labels: #710

#48 2021/10/30 Codeforces Round #710 (Div. 3) --- 이유진
  weekly_codeforces/M10/D30 - Codeforces Round #710 (Div. 3)/A - Strange Table/A.java
  weekly_codeforces/M10/D30 - Codeforces Round #710 (Div. 3)/B - Partial Replacement/B.java
  weekly_codeforces/M10/D30 - Codeforces Round #710 (Div. 3)/C - Double-ended Strings/C.java
Labels: #710

#49 2021/10/30 Codeforces Round #710 (Div. 3) --- 김민수
  weekly_codeforces/M10/D30 - Codeforces Round #710 (Div. 3)/A - Strange Table/A_김민수.java
  weekly_codeforces/M10/D30 - Codeforces Round #710 (Div. 3)/B - Partial Replacement/.DS_Store
  weekly_codeforces/M10/D30 - Codeforces Round #710 (Div. 3)/B - Partial Replacement/B_김민수.java
  weekly_codeforces/M10/D30 - Codeforces Round #710 (Div. 3)/C - Double-ended Strings/C_김민수.java
Labels: #710

#50 2021/10/30 Codeforces Round #710 (Div. 3) --- 한승주
  weekly_codeforces/M10/D11 - Codeforces Round #725 (Div. 3)/G - Gift Set/F_한승주.py
  weekly_codeforces/M10/D30 - Codeforces Round #710 (Div. 3)/A - Strange Table/A_한승주.py
  weekly_codeforces/M10/D30 - Codeforces Round #710 (Div. 3)/B - Partial Replacement/B_한승주.py
  weekly_codeforces/M10/D30 - Codeforces Round #710 (Div. 3)/C - Double-ended Strings/C_한승주.py
  weekly_codeforces/M10/D30 - Codeforces Round #710 (Div. 3)/D - Epic Transformation/D_한승주.py
  weekly_codeforces/M9/D19 - Codeforces Round #739 (Div. 3)/A - Dislike of Threes/A_한승주.py
  weekly_codeforces/M9/D19 - Codeforces Round #739 (Div. 3)/B - Who's Opposite/B_한승주.py
  weekly_codeforces/M9/D19 - Codeforces Round #739 (Div. 3)/C - Infinity Table/C_한승주.py
  weekly_codeforces/M9/D19 - Codeforces Round #739 (Div. 3)/D - Make a Power of Two/D_한승주.py
  weekly_codeforces/M9/D19 - Codeforces Round #739 (Div. 3)/E - Polycarp and String Transformation/E_한승주.py
  weekly_codeforces/M9/D26 - Codeforces Round #734 (Div. 3)/A - Polycarp and Coins/A_한승주.py
  weekly_codeforces/M9/D26 - Codeforces Round #734 (Div. 3)/B1 - Wonderful Coloring - 1/B1_한승주.py
  weekly_codeforces/M9/D26 - Codeforces Round #734 (Div. 3)/B2 - Wonderful Coloring - 2/B2_한승주.py
  weekly_codeforces/M9/D26 - Codeforces Round #734 (Div. 3)/C - Interesting Story/C_한승주.py
  weekly_codeforces/M9/D26 - Codeforces Round #734 (Div. 3)/D1 - Domino (easy version)/D1_한승주.py
  weekly_codeforces/M9/D28 - Codeforces Round #744 (Div. 3)/A - Casimir's String Solitaire/A_한승주.py
  weekly_codeforces/M9/D28 - Codeforces Round #744 (Div. 3)/B - Shifting Sort/B_한승주.py
  weekly_codeforces/M9/D28 - Codeforces Round #744 (Div. 3)/C - Ticks/C_한승주.py
  weekly_codeforces/M9/D28 - Codeforces Round #744 (Div. 3)/D - Productive Meeting/D_한승주.py
Labels: #710

#51 2021/10/30 Codeforces Round #710 (Div. 3) --- 우지현
  weekly_codeforces/M10/D30 - Codeforces Round #710 (Div. 3)/A - Strange Table/A_우지현.cpp
  weekly_codeforces/M10/D30 - Codeforces Round #710 (Div. 3)/B - Partial Replacement/B_우지현.cpp
  weekly_codeforces/M10/D30 - Codeforces Round #710 (Div. 3)/C - Double-ended Strings/C_우지현.cpp
  weekly_codeforces/M10/D30 - Codeforces Round #710 (Div. 3)/D - Epic Transformation/D_우지현.cpp
Labels: #710

#52 2021/10/30 Codeforces Round #710 (Div. 3) --- 김서진
  weekly_codeforces/M10/D30 - Codeforces Round #710 (Div. 3)/A - Strange Table/A_김서진.java
  weekly_codeforces/M10/D30 - Codeforces Round #710 (Div. 3)/B - Partial Replacement/B_김서진.java
Labels: #710

#58 2021/11/06 Codeforces Round #702 (Div. 3) --- 우지현
  weekly_codeforces/M11/D06 - Codeforces Round #702 (Div. 3)/A - Dense Array/A_우지현.cpp
  weekly_codeforces/M11/D06 - Codeforces Round #702 (Div. 3)/B - Balanced Remainders/B_우지현.cpp
  weekly_codeforces/M11/D06 - Codeforces Round #702 (Div. 3)/C - Sum of Cubes/C_우지현.cpp
  weekly_codeforces/M11/D06 - Codeforces Round #702 (Div. 3)/D - Permutation Transformation/D_우지현.cpp
Labels: #702

#53 2021/11/02 Codeforces Round #753 (Div. 3) --- 김홍균
  weekly_codeforces/M11/D02 - Codeforces Round #753 (Div. 3)/A - Linear Keyboard/A_김홍균.cpp
  weekly_codeforces/M11/D02 - Codeforces Round #753 (Div. 3)/B - Odd Grasshopper/B_김홍균.cpp
  weekly_codeforces/M11/D02 - Codeforces Round #753 (Div. 3)/C - Minimum Extraction/C_김홍균.cpp
  weekly_codeforces/M11/D02 - Codeforces Round #753 (Div. 3)/D - Blue-Red Permutation/D_김홍균.cpp
Labels: #753

#54 2021/11/02 Codeforces Round #753 (Div. 3) --- 우지현
  weekly_codeforces/M11/D02 - Codeforces Round #753 (Div. 3)/A - Linear Keyboard/A_우지현.cpp
  weekly_codeforces/M11/D02 - Codeforces Round #753 (Div. 3)/B - Odd Grasshopper/B_우지현.cpp
  weekly_codeforces/M11/D02 - Codeforces Round #753 (Div. 3)/C - Minimum Extraction/C_우지현.cpp
Labels: #753

#55 2021/11/02 Codeforces Round #753 (Div. 3) --- 김민수
  weekly_codeforces/M11/D02 - Codeforces Round #753 (Div. 3)/A - Linear Keyboard/A_김민수.java
  weekly_codeforces/M11/D02 - Codeforces Round #753 (Div. 3)/B - Odd Grasshopper/B_김민수.java
  weekly_codeforces/M11/D02 - Codeforces Round #753 (Div. 3)/C - Minimum Extraction/C_김민수.java
Labels: #753

#56 2021/11/06 Codeforces Round #702 (Div. 3) --- 김홍균
  weekly_codeforces/M11/D06 - Codeforces Round #702 (Div. 3)/A - Dense Array/A_김홍균.cpp
  weekly_codeforces/M11/D06 - Codeforces Round #702 (Div. 3)/B - Balanced Remainders/B_김홍균.cpp
  weekly_codeforces/M11/D06 - Codeforces Round #702 (Div. 3)/C - Sum of Cubes/C_김홍균.cpp
  weekly_codeforces/M11/D06 - Codeforces Round #702 (Div. 3)/D - Permutation Transformation/D_김홍균.cpp
  weekly_codeforces/M11/D06 - Codeforces Round #702 (Div. 3)/E - Accidental Victory/E_김홍균.cpp
Labels: #702

#57 2021/11/06 Codeforces Round #702 (Div. 3) --- 한승주
  weekly_codeforces/M11/D06 - Codeforces Round #702 (Div. 3)/A - Dense Array/A_한승주.py
  weekly_codeforces/M11/D06 - Codeforces Round #702 (Div. 3)/B - Balanced Remainders/B_한승주.py
  weekly_codeforces/M11/D06 - Codeforces Round #702 (Div. 3)/C - Sum of Cubes/C_한승주.py
  weekly_codeforces/M11/D06 - Codeforces Round #702 (Div. 3)/D - Permutation Transformation/D_한승주.py
  weekly_codeforces/M11/D06 - Codeforces Round #702 (Div. 3)/E - Accidental Victory/E_한승주.py
  weekly_codeforces/M11/D06 - Codeforces Round #702 (Div. 3)/F - Equalize the Array/F_한승주.py
  weekly_codeforces/M11/D06 - Codeforces Round #702 (Div. 3)/G - Old Floppy Drive/G_한승주.py
Labels: #702

#59 2021/11/06 Codeforces Round #702 (Div. 3) --- 김서진
  weekly_codeforces/M11/D06 - Codeforces Round #702 (Div. 3)/A - Dense Array/A_김서진.java
  weekly_codeforces/M11/D06 - Codeforces Round #702 (Div. 3)/B - Balanced Remainders/B_김서진.java
  weekly_codeforces/M11/D06 - Codeforces Round #702 (Div. 3)/C - Sum of Cubes/C_김서진.java
Labels: #702

#60 2021/11/06 Codeforces Round #702 (Div. 3) --- 김민수
  weekly_codeforces/M11/D06 - Codeforces Round #702 (Div. 3)/A - Dense Array/A_김민수.java
  weekly_codeforces/M11/D06 - Codeforces Round #702 (Div. 3)/B - Balanced Remainders/B_김민수.java
  weekly_codeforces/M11/D06 - Codeforces Round #702 (Div. 3)/C - Sum of Cubes/C_김민수.java
  weekly_codeforces/M11/D06 - Codeforces Round #702 (Div. 3)/D - Permutation Transformation/D_김민수.java
Labels: #702

#61 2021/11/06 Codeforces Round #702 (Div. 3) --- 이유진
  weekly_codeforces/M11/D06 - Codeforces Round #702 (Div. 3)/A - Dense Array/A_이유진.java
  weekly_codeforces/M11/D06 - Codeforces Round #702 (Div. 3)/B - Balanced Remainders/B_이유진.java
  weekly_codeforces/M11/D06 - Codeforces Round #702 (Div. 3)/C - Sum of Cubes/C_이유진.java
  weekly_codeforces/M11/D06 - Codeforces Round #702 (Div. 3)/D - Permutation Transformation/D_이유진.java
Labels: #702

#63 2021/11/06 Codeforces Round #702 (Div. 3) --- 이민동
  weekly_codeforces/M11/D06 - Codeforces Round #702 (Div. 3)/A - Dense Array/A_이민동.cpp
  weekly_codeforces/M11/D06 - Codeforces Round #702 (Div. 3)/B - Balanced Remainders/B_이민동.cpp
  weekly_codeforces/M11/D06 - Codeforces Round #702 (Div. 3)/C - Sum of Cubes/C_이민동.cpp
  weekly_codeforces/M11/D06 - Codeforces Round #702 (Div. 3)/D - Permutation Transformation/D_이민동.cpp
Labels: #702

#64 2021/11/06 Codeforces Round #702 (Div. 3) --- 김승환
  weekly_codeforces/M11/D06 - Codeforces Round #702 (Div. 3)/A - Dense Array/A_김승환.py
  weekly_codeforces/M11/D06 - Codeforces Round #702 (Div. 3)/B - Balanced Remainders/B_김승환.py
  weekly_codeforces/M11/D06 - Codeforces Round #702 (Div. 3)/C - Sum of Cubes/C_김승환.py
Labels: #702

#66 2021/11/13 Codeforces Round #697 (Div. 3) --- 김홍균
  weekly_codeforces/M11/D13 - Codeforces Round #697 (Div. 3)/A - Odd Divisor/A_김홍균.cpp
  weekly_codeforces/M11/D13 - Codeforces Round #697 (Div. 3)/B - New Year's Number/B_김홍균.cpp
  weekly_codeforces/M11/D13 - Codeforces Round #697 (Div. 3)/C - Ball in Berland/C_김홍균.cpp
  weekly_codeforces/M11/D13 - Codeforces Round #697 (Div. 3)/E - Advertising Agency/E_김홍균.cpp
Labels: #697

#67 2021/11/13 Codeforces Round #697 (Div. 3) --- 김민수
  weekly_codeforces/M11/D13 - Codeforces Round #697 (Div. 3)/A - Odd Divisor/A_김민수.java
  weekly_codeforces/M11/D13 - Codeforces Round #697 (Div. 3)/B - New Year's Number/B_김민수.java
  weekly_codeforces/M11/D13 - Codeforces Round #697 (Div. 3)/C - Ball in Berland/C_김민수.java
Labels: #697

#68 2021/11/13 Codeforces Round #697 (Div. 3) --- 이민동
  weekly_codeforces/M11/D13 - Codeforces Round #697 (Div. 3)/A - Odd Divisor/A_이민동.cpp
  weekly_codeforces/M11/D13 - Codeforces Round #697 (Div. 3)/B - New Year's Number/B_이민동.cpp
  weekly_codeforces/M11/D13 - Codeforces Round #697 (Div. 3)/C - Ball in Berland/C_이민동.cpp
  weekly_codeforces/M11/D13 - Codeforces Round #697 (Div. 3)/E - Advertising Agency/E_이민동.cpp
Labels: #697

#69 2021/11/20 Codeforces Round #693 (Div. 3) --- 우지현
  weekly_codeforces/M11/D20 - Codeforces Round #693 (Div. 3)/A - Cards for Friends/A_우지현.cpp
  weekly_codeforces/M11/D20 - Codeforces Round #693 (Div. 3)/B - Fair Division/B_우지현.cpp
  weekly_codeforces/M11/D20 - Codeforces Round #693 (Div. 3)/C - Long Jumps/C_우지현.cpp
Labels: #697

#70 2021/11/20 Codeforces Round #693 (Div.3) --- 김서진
  weekly_codeforces/M11/D20 - Codeforces Round #693 (Div. 3)/A - Cards for Friends/A_김서진.java
  weekly_codeforces/M11/D20 - Codeforces Round #693 (Div. 3)/B - Fair Division/B_김서진.java
  weekly_codeforces/M11/D20 - Codeforces Round #693 (Div. 3)/C - Long Jumps/C_김서진.java
Labels: #697
